.mlgo--signreg{
	padding: 3em;
	background-color:#fff;
}
.mlgo--signreg .mlg--col1,
.mlgo--signreg .mlg--col2{
	text-align:left;
}
.mlgo--signreg form{
	padding: 2em;
	background-color:#DDDDDD;
	-moz-border-radius: 1em;
	border-radius: 1em;
}
.mlgo--field {
    margin-bottom: 1em;
}
.mlgo--input {
    padding: 0.5em;
    width: 100%;
}
#cboxLoadedContent{
	margin-bottom:0!important;
}